@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    margin-top: 2px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
}
  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
}
